@import url('../../variables.css');

#navbar {
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translate(50%, -50%);
}

ul {
    display: flex;
    gap: 50px;
}

li {
    list-style: none;
}