.button-style {
    height: 45px;
    width: 180px;
    display: grid;
    place-items: center;
    background-color: var(--color-blue);
    border-radius: 30px;
    text-decoration: none;
    color: var(--color-white);   
    font-weight: 600;
    font-size: 1.1rem;
}