@import url('../../variables.css');

#products {
    height: 800px;
    width: 100vw;
    display: grid;
    place-items: center;
}

#products .products-container {
    display: flex;
    gap: 20px;
}

#products .item-container {
    height: 450px;
    width: 200px;
    background-size: cover;
    transition: all .5s;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;

    &:hover {
        transition: all .2s;
        width: 450px;
    }

    &:hover .content-container {
        opacity: 1;
        transition: all .2s;
    }
}

#products .item-container .content-container {
    opacity: 0;
    transition: all .5s;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

#products .item-container .content-container h4 {
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--color-blue);
}

#products .item-container .content-container p {
    font-size: 1.01rem;
    font-weight: 600;
    color: var(--color-blue);
}

#products .item-container .content-container .btn-container {
    width: 100%;
    display: grid;
    place-items: center;
}


#products .item-container .content-container .button-style {
    height: 40px;
}



